/*
Syntaxe CSS

selector {
    vlastnost1: hodnota;
    vlastnost2: hodnota;
    vlastnost3: hodnota;
    vlastnost4: hodnota;
    ....
    vlastnostn: hodnota;
}
*/

body {
    background-color:#ff1493 ;/* jde tam dat hex, klikni na cverecek*/
}

h1 {
    color:white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    max-width: 80%;
    margin: 0 auto; /*zarovnání na střed*/
    background-color: pink;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap:15px;
    padding: 0;
}

nav a { /*pokud by tam bylo jenom a tak to plati pro vsechno, ted to pracuje jen uvnitr nav*/
    background-color: deeppink;
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 5px;
}

nav a:hover {
    color: rgb(255, 103, 255);
    background-color: black;
}

.card {
    background-color: rgb(255, 210, 216);
    padding: 20px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    /*grid-template-columns: auto auto;*/
    /*grid-template-columns: 1fr 2fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 15px;
    
}
  
  figcaption {
    background-color: deeppink;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  figure {
   /* display: grid;*/
    border: 1px #000000 solid;
    background-color: deeppink;
    border-radius: 20px;
    padding: 4px;
    margin: auto;
    display: grid;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
  }

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: black;
    border: 1px black solid;
  }